/** {
margin: 0;
padding: 0;
border: 0;
line-height: 1.4em;
vertical-align: baseline;
text-decoration: none;
outline: 0;
}
form{
    padding: 10px;
    margin:10px;
    border:1px solid #000000;
}
input{
    border: 1px solid #000000;
}*/

header {
    text-align: center;
    padding: 20px;
}

.panel-heading {
    padding: 20px;
}

.valid {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}

.invalid {
    background-color: #FFFFFF;
    border: 1px solid #CC0000;
}

td,
th {
    text-align: center;
    display: table-cell;
}

.clickable:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}

td {
    vertical-align: middle !important;
}

.btn--userdel,
.btn--groupdel {
    margin-left: 10px;
}

tr:last-child {
    border: none;
}
.grouplistshow{
    display: none;
    padding: 5px;
    flex-direction: row;
    justify-content: center;

}
.mvbuttons{
    display: flex;
    flex-direction: column;
}
.mvbutton{
    margin: 5px;
}
.right{
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left:10px solid #000000; 

}
.left{
    width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #000000;  
}


select{
    min-width: 200px;
}